<div class="navbar-container flex_space-between">
    <div class="navbar-container_start">
        <div class="flex gap-15">
            <div class="user-initials backdrop">
                <mat-icon fontIcon="arrow_right_alt" style="color:white;"></mat-icon>
            </div>
            <img src="assets/svg/AlMarkaziaLogo.svg" style="cursor: pointer;" [routerLink]="['']" alt="">
        </div>
    </div>
    <div class="navbar-container_end align-items-center">
        <div class="flex gap-6 user-container align-items-center">
            <div class="user-initials">
                AN
            </div>
            <span class="user-name">Ahmad Nabil</span>
        </div>
    </div>
</div>