:host {
    --side-bar-width: 54px;
    width: var(--side-bar-width);
    display: block;
    align-items: center;
    height: calc(100vh - 56px);
    // position: fixed;
}

.container {
    justify-content: space-between;
    height: calc(100vh - 56px);
    align-items: center;
    padding: 64px 16px 16px 16px;
    position: fixed;
    border-right: 1px solid #1313134f;
    align-items: center;
    box-sizing: border-box;
}

mat-icon {
    cursor: pointer;
    color: #626262;
}