<div class="flex-col container">
    <div class="side-bar flex-col gap-16 flex-1">
        <mat-icon fontIcon="grid_view"></mat-icon>
        <mat-icon fontIcon="download"></mat-icon>
        <mat-icon fontIcon="publish"></mat-icon>
        <mat-icon fontIcon="description"></mat-icon>
        <mat-icon fontIcon="description"></mat-icon>
        <mat-icon fontIcon="layers"></mat-icon>
        <mat-icon fontIcon="upload_file"></mat-icon>
    </div>
    <mat-icon fontIcon="grid_view"></mat-icon>
</div>